<div class="message">
</div>
  <% if flash[:success] %>
    <div class="alert alert-success">
  <%= flash[:success] %>
    </div>
  <% end %>

<div class="col-md-12 well">
<label for="teacher">List teachers</label>
<div class="">
  <a href="<%= new_admin_user_path %>" class="btn btn-primary">Add teacher</a>
</div></br>
<div class="list-user">
<table class="table table-hover table-bordered" >

  <tr style="background: pink">
    <th>#</th>
    <th>Name</th>
    <th>Phone number</th>
    <th>Address</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <% @teachers.each_with_index do |teacher,index| %>
  <tr class="box-user">
    <td><%= index+1 %></td>
    <td><%= teacher.name %></td>
    <td><%= teacher.phone %></td>
    <td><%= teacher.address %></td>
    <td><%= teacher.email %></td>
    <td>
      <a href="<%= edit_admin_user_path(teacher) %>" class="btn btn-info">Edit</a>
      <a data-target="<%= teacher.id %>" class="btn btn-danger delete-user" data-confirm="Are you sure?">Delete</a>
      <a href="<%= admin_user_path(teacher) %>" class="btn btn-success">Courses</a>
    </td>
  </tr>
  <% end %>
</table>
<% if will_paginate(@teachers) %>
<div class="pull-right"><%= will_paginate @teachers %></div>
<% end %>
</div>
</div>
