
<% if @user.errors.any? %>
<div class="col-md-4 alert-danger alert col-sm-offset-4">
<% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</div>
<% end %>
<div class="col-md-12">
<%= form_for @user, url: user_path(@user) do |f| %>
<div class="col-md-4 col-sm-offset-1 well">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Phone number</label>
    <%= f.text_field :phone, class: "form-control", placeholder: "Phone number" %>
  </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Address</label>
      <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
    </div>
  <div class="form-group">
    <label for="exampleInputName2">Email</label>
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Position</label>
    <%= f.select(:role, options_for_select([["Teacher", 1], ["Student",0]],@user.role),{},{class: "form-control"})%>
  </div>
  <div class="">
    <button type="submit" name="button" class="btn btn-primary col-md-12">Edit</button>
  </div>
</div>
<% end %>
<div class="col-md-4 col-sm-offset-2 well">
  <form action="<%= changepassword_user_path(@current_user.id) %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
      <label for="exampleInputEmail1">Old password</label>
      <input type="password" class="form-control" name="old_password" id="exampleInputEmail1" placeholder="Old password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">New password</label>
      <input type="password" class="form-control" name="new_password" id="exampleInputPassword1" placeholder="New password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm password</label>
      <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword1" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn btn-primary col-md-12">Change password</button>
  </form>
</div>
</div>
