
<nav class="navbar navbar-inverse">
  <div class="container-fluid container text-uppercase">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= home_index_path %>">Manager Course</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= home_index_path %>">Home</a></li>
      <% if @current_user && @current_user.is_admin %>
      <li><a href="<%= admin_users_path %>">List users</a></li>
      <li><a href="<%= admin_users_path %>">Add user</a></li>
      <li><a href="<%= admin_dashboard_teachers_path %>">List Teachers</a></li>
      <li><a href="<%= admin_dashboard_students_path %>">List Students</a></li>
      <% else %>
         <% if @current_user && @current_user.is_teacher %>
           <li><a href="<%= teacher_courses_path %>">List courses</a></li>
           <li><a href="<%= new_teacher_course_path %>">Add course</a></li>
          <% else %>
           <li><a href="<%= courses_path %>">List courses</a></li>
           <li><a href="<%= classrooms_path %>">My classroom</a></li>
         <% end %>
         <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if(@current_user) %>
          <li><a href="<%= edit_user_path(@current_user) %>"><span class="glyphicon glyphicon-edit"></span> Hello <%= @current_user.name %></a></li>
					<li><a href="<%= logout_path %>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      <% else %>
      <li><a href="<%= new_user_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
