
<div class="col-md-12 well">
<label for="teacher">List classroom</label>
<div>
<a href="<%= new_teacher_course_classroom_path(@course.id) %>" class="btn btn-primary">Add classroom</a>
</div></br>
<div class="list-classroom">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>#</th>
    <th>Name classroom</th>
    <th>Subject</th>
    <th>Number month</th>
    <th>Schedule</th>
    <th>Date start</th>
    <th>Fee</th>
    <th>Number/Registered</th>
    <th>Action</th>
  </tr>
  <% @course.classrooms.each_with_index do |classroom,index| %>
  <tr class="box-classroom">
    <td><%= index+1 %></td>
    <td><%= classroom.name %></td>
    <td><%= classroom.subject %></td>
    <td><%= classroom.month%></td>
    <td><%= classroom.schedule %></td>
    <td><%= classroom.start %></td>
    <td><%= classroom.fee %></td>
    <td><%= classroom.total%>/<%= classroom.registers.where(is_register: true).count %></td>
    <td>
      <a href="<%= edit_teacher_course_classroom_path(@course.id,classroom) %>" class="btn btn-info">Edit</a>
      <a data-target=" <%= teacher_course_classroom_path(@course.id,classroom) %>" class="btn btn-danger delete-classroom" data-confirm="Are you sure?">Delete</a>
      <a href="<%=teacher_course_classroom_path(@course.id,classroom)%>" class="btn btn-success">List student</a>
    </td>
  </tr>
  <% end %>
</table>
</div>
</div>
