<% if @notications %>
<div class="well col-md-6">
  <table>
  <% @notications.each do |notication| %>
  <tr>
    <td class="col-md-10">
      <%= notication.content %>
    </td>
    <td class="col-md-3">
      Đã xem
    </td>
  </tr>
  <% end %>
</table>
</div>
<% end %>
<div class="well">
<label for="teacher">Danh sách khóa học</label>
<div class="list-course">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>STT</th>
    <th>Tên khóa học</th>
    <th>Tên giáo viên</th>
    <th>Địa chỉ</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Chức năng</th>
  </tr>
  <% @courses.each_with_index do |course,index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= course.name %></td>
    <td><%= course.user.name %></td>
    <td><%= course.user.address %></td>
    <td><%= course.user.phone %></td>
    <td><%= course.user.email %></td>
    <td>
      <a href="<%= course_path(course) %>" class="btn btn-success">Chi tiết</a>
    </td>
  </tr>
  <% end %>
</table>
</div>
</div>
