<% if flash[:success] %>
  <div class="alert alert-success">
  <%= flash[:success] %>
  </div>
<% end %>
<div class="message">
</div>

<label>Các lớp học</label>
<div class="list-classroom">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>STT</th>
    <th>Tên lớp học</th>
    <th>Môn học</th>
    <th>Số tháng</th>
    <th>Thời khóa biểu</th>
    <th>Ngày bắt đầu</th>
    <th>Học phí</th>
    <th>Số lượng</th>
    <th>Đã đăng ký</th>
    <th>Chức năng</th>
  </tr>
  <% @course.classrooms.each_with_index do |classroom, index| %>
  <tr class="box-classroom">
    <td><%= index+1 %></td>
    <td><%= classroom.name %></td>
    <td><%= classroom.subject %></td>
    <td><%= classroom.month%></td>
    <td><%= classroom.schedule %></td>
    <td><%= classroom.start %></td>
    <td><%= classroom.fee %></td>
    <td><%= classroom.total%></td>
    <td class="view-registers"><%= classroom.registers.where(is_register: true).count %></td>
    <td>
      <% register = classroom.registers.where(user_id: @current_user.id) %>
      <a data-target="<%= register_classroom_path(classroom.id) %>" class="btn btn-primary register-classroom"><%= register.try(:is_register) ? "Đăng ký" :  "Hủy đăng ký"  %></a>
    </td>
  </tr>
  <% end %>
</table>
</div>
