
<div class="well col-md-12">
<label>List classroom</label>
<div class="list-classroom">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>#</th>
    <th>Name classroom</th>
    <th>Subject</th>
    <th>Number month</th>
    <th>Schedule</th>
    <th>Date start</th>
    <th>Fee</th>
    <th>Number</th>
    <th>Registered</th>
    <th>Action</th>
  </tr>
  <% @course.classrooms.each_with_index do |classroom, index| %>
  <tr class="box-classroom">
    <td><%= index+1 %></td>
    <td><%= classroom.name %></td>
    <td><%= classroom.subject %></td>
    <td><%= classroom.month%></td>
    <td><%= classroom.schedule %></td>
    <td><%= classroom.start %></td>
    <td><%= classroom.fee %></td>
    <td><%= classroom.total%></td>
    <td class="view-registers"><%= classroom.registers.where(is_register: true).count %></td>
    <td>
      <%  register = classroom.registers.where(user_id: @current_user.id).first
      if register %>
      <a data-target="<%= register_classroom_path(classroom.id) %>" class="btn btn-primary register-classroom"><%= register.try(:is_register) ? "Cancel register" : "Register"     %></a>
      <% else %>
        <a data-target="<%= register_classroom_path(classroom.id) %>" class="btn btn-primary register-classroom">Register</a>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
</div>
