<% if flash[:success] %>
  <div class="alert alert-success">
  <%= flash[:success] %>
  </div>
<% end %>
<div class="message">

</div>

<div>
<a href="<%= new_teacher_course_classroom_path %>" class="btn btn-primary">Thêm lớp học</a>
</div></br>

<label for="teacher">Danh sách lớp học</label>
<div class="list-course">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>STT</th>
    <th>Tên lớp học</th>
    <th>Môn học</th>
    <th>Số tháng</th>
    <th>Thời khóa biểu</th>
    <th>Ngày bắt đầu</th>
    <th>Học phí</th>
    <th>Số lượng/Đã ĐK</th>
    <th>Chức năng</th>
  </tr>
  <% @classrooms.each_with_index do |classroom,index| %>
  <tr class="box-course">
    <td><%= index+1 %></td>
    <td><%= classroom.name %></td>
    <td><%= classroom.subject %></td>
    <td><%= classroom.month%></td>
    <td><%= classroom.schedule %></td>
    <td><%= classroom.start %></td>
    <td><%= classroom.fee %></td>
    <td><%= classroom.total+"/"+classroom.registered %></td>
    <td>
      <a href="<%= edit_teacher_course_classroom_path(classroom) %>" class="btn btn-info">Sửa</a>
      <a data-target=" <%= classroom.id %>" class="btn btn-danger delete-course" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a>
      <a href="#" class="btn btn-success">Lớp học</a>
    </td>
  </tr>
  <% end %>
</table>
</div>
