
<div class="col-md-12 well">
<label for="student">List student</label>
<div class="list-user">
<table class="table table-hover table-bordered" >
  <tr style="background: pink">
    <th>#</th>
    <th>Name</th>
    <th>Phone number</th>
    <th>Address</th>
    <th>Email</th>
    <th>Fee</th>
    <th>Action</th>
  </tr>
  <% @classroom.registers.where(is_register: true).each_with_index do |register,index| %>
  <tr class="box-user">
    <td><%= index+1 %></td>
    <td><%= register.user.name %></td>
    <td><%= register.user.phone %></td>
    <td><%= register.user.address %></td>
    <td><%= register.user.email %></td>
    <td><a data-target="<%=  pay_teacher_course_classroom_user_path(@classroom.course_id, @classroom, register.user.id) %>" class="btn btn-primary pay-fee"><%= register.try(:is_pay) ? "Complete" :  "Owe"  %></a></td>
    <td>
      <a data-target="<%= remove_teacher_course_classroom_user_path(@classroom.course_id, @classroom, register.user.id) %>" class="btn btn-danger remove-user" data-confirm="Are you sure?">Remove</a>
    </td>
  </tr>
  <% end %>
</table>
</div>
</div>
