<!DOCTYPE html>
<html>
<head>
    <% if yield(:meta).blank? %>
  <title>Manage Courses</title>
    <% else %>
    <%= yield(:meta) %>
    <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partils/header" %>


  <% if flash[:error] %>
  <div class="col-md-2 alert-danger alert pull-right" style="text-align: center">
  <%= flash[:error] %>
  </div>
  <% end %>
  <div class="container">
  <%= yield %>
  </div>
   <!-- <%= render "partils/footer" %> -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>
