<!DOCTYPE html>
<html>
<head>
    <% if yield(:meta).blank? %>
  <title>Manage Courses</title>
    <% else %>
    <%= yield(:meta) %>
    <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: #d0d0d0">
  <header>
    <%= render "partils/header" %>
  </header>


  <% if flash[:error] %>
  <div class="col-md-2 alert-danger alert pull-right error" style="text-align: center">
  <%= flash[:error] %>
  </div>
  <% end %>
  <% if flash[:success] %>
    <div class="alert alert-success col-md-2 pull-right success" style="text-align: center">
    <%= flash[:success] %>
    </div>
  <% end %>
  <div class="col-md-2 pull-right message" style="text-align: center">

  </div>
  <div class="container">
    <div class="" style="background-color: #ffffff">
      <%= yield %>
    </div>

  </div>
   <!-- <%= render "partils/footer" %> -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>
